
html {
  background-image: url('https://images.pexels.com/photos/942803/pexels-photo-942803.jpeg?cs=srgb&dl=pexels-lukas-942803.jpg&fm=jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('ruta-de-tu-imagen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
  pointer-events: none;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  100% { transform: translateX(-2px); }
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
}

.explode {
  animation: explode 0.5s;
  animation-fill-mode: forwards;
}

@keyframes explode {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#namesContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}


@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  input[type="submit"] {
    font-size: 14px;
  }

  input[type="text"] {
    font-size: 14px;
  }
}
