*{
    margin: 0%;
    padding: 0%;
}


body{
    background-color: rgb(255, 225, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.background-fondo{
    display: flex;
    background-color: orange;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664), -5px -5px 10px white,
    5px 5px 15px rgba(0, 0, 0, 0.664), -1px -1px 15px white, 
    5px 5px 20px rgba(0, 0, 0, 0.664), -1px -1px 20px white, 
    5px 5px 50px rgba(0, 0, 0, 0.664), -1px -1px 50px white 
    ;
}

.background-fondo:hover{
    border: 5px solid orange;
    background-color: rgba(255, 166, 0, 0);
}
a{
    text-decoration: none;
    color: white;
    
}


@keyframes botones {
    0% {
        transform: rotate(4deg);
    }
    25% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
    75% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(4deg);
    }
}

.dato:hover{
    animation: botones 3s infinite;
    box-shadow: 5px 5px white;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid orange;
    color: orange;
}

@keyframes movimiento-arriva-Y-abajo {
    0% {
        transform: translateY(6px);
    }
    25% {
        transform: translateY(-6px);
    }
    50% {
        transform: translateY(6px);
    }
    75% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(6px);
    }
}


.dato{
    animation: movimiento-arriva-Y-abajo 4s infinite;
    margin: 50px;
    color: white;
    background-color: rgb(138, 90, 0);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 1rem;
    
}


